<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
<h1>RETINA DISEASE RECOGNITION</h1>
<nav>
<a href="{{ url_for('home') }}">Home</a>
<a href="{{ url_for('about') }}">About</a>
<a href="{{ url_for('contact') }}">Contact</a>
<a href="{{ url_for('predict') }}">Get Started</a>
</nav>
</header>

<section class="contact">
<h2>Contact</h2>
<p>Pranav Pawar — BSc Computer Science</p>
<p>AI Healthcare Project</p>
</section>

</body>
</html>